SPRING_DATASOURCE_URL=jdbc:mysql://HOST:PORT/DATABASE?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=usuario
SPRING_DATASOURCE_PASSWORD=contraseña
SPRING_JPA_HIBERNATE_DDL_AUTO=update
PORT=8080
FRONTEND_URL=https://tu-frontend.vercel.app